<!--
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/regular.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" crossorigin="anonymous">
-->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/fa/css/brands.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/fa/css/solid.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/fa/css/fontawesome.min.css">
