<div class="titlebar">
    <a href="{{ site.baseurl }}/">Youth for Climate</a>
<!--    <div class="titlewrap">-->
<!--
        <span class="title-l">
            <a href="{{ site.baseurl }}/">Youth for Climate</a>
        </span>
-->
<!--
        <span class="title-r">
            <a class="homebtn" href="{{ site.baseurl }}/">Home</a>
            <a class="donate" href="donate">Donate</a>
            <a class="menubtn" href="why">Why</a>
            <a class="menubtn" href="what">The Action</a>
            <a class="menubtn" href="who">About us</a>
        </span>
-->
<!--    </div>-->
</div>


<!--<a class="spacer">a</a>-->