<div class="menu">
    <a class="menuL" href="{{ site.baseurl }}/#what-is-civex">about</a>
    <a class="menuL" href="{{ site.baseurl }}/#plugins">plugins</a>
    <a class="menuL" href="{{ site.baseurl }}/#beginners-guide">beginners guide</a>
    <a class="menuL" href="{{ site.baseurl }}/#server-rules">server rules</a>
    <a class="menuL links" href="{{ site.baseurl }}/#links">links</a>
    <a class="menuL donate" href="https://www.paypal.me/civexstaff">donate</a>
    <a class="menuL blog" href="{{ site.baseurl }}/blog.html">blog</a>
</div>