---
---

.body {
    margin-top: .7em;
    
    h1 {
        line-height: .8em;
        transform: scale(1,1);
    }
    
    h1 a {
//        color: #383838;
        color: #000;
        background-color: rgba(0,0,0,0);
        text-shadow: 0px 0px 0px black;
        padding: 0;
        margin-top: .8em;
        font-size: .7em;
        font-weight: 900;
        line-height: 1em;
        transform: scaleX(0.8);
        width: 125%;
        display: inline-block;
        transform-origin: left;
        
        &:hover {
//            color: #3498db;
//            text-decoration: underline;
//            text-decoration-color: #cccccc;
            background-color: rgba(0,0,0,0);
            text-shadow: 0px 0px 0px black;
        }
    }
}

.date {
    margin-bottom: .3em;
    color: #888;
    font-size: .75em;
}