---
---

.body {
    margin-top: .7em;
    
    h1 a {
//        color: #383838;
        color: #cccccc;
        background-color: rgba(0,0,0,0);
        padding: 0;
        font-size: 1em;
        
        &:hover {
//            color: #3498db;
            text-decoration: underline;
            text-decoration-color: #cccccc;
            background-color: rgba(0,0,0,0);
        }
    }
}

.date {
    margin-bottom: .3em;
    color: #888;
    font-size: .75em;
}