---
---

//Variables
//$prime: #0f99d5;
$prime: #08a635; //primary color
//$prime: #13972b; //primary color
$prime2: #044926; //darker primary color, used for hover effect, click effects, etc
$prime3: #70ad78; //brighter primary color
//$prime2: #167928; //darker primary color, used for hover effect, click effects, etc
$secondary: #008ee6;
$tertiary: #2c30c6;
$tertiary2: #3b8b32;

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Graphikk, sans-serif;
    font-weight: 500;
    background-color: #fff;
//    color: #383838;
    color: #000;
    
    h1, h2, h3 {
        transform: scaleX(0.8);
        font-weight: 900;
    }
}

a {
    text-decoration: none;
}

.titlebar {
//    min-height: 3em;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: .5em 0;
    text-transform: uppercase;
    
    a {
//        color: #fff;
        color: $prime;
        font-weight: 900;
//        transition: color 0.05s;
        display: inline-block;
        font-size: 3.5em;
        transform: scaleX(0.8);
        
        &:hover {
            color: black;
        }
    }
}

.spacer {
    margin-bottom: 3em;
    display: inline-block;
}


.hero {
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #068029;
    background-image: url(hero_lq_nologo.jpg);
//    background-position: -50%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
//    z-index: 3;
    position: relative;
    line-height: 1em;
        
    .wrap {
        display: inline-block;
        width: 100%;
        //        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
//        padding-top: 4em;
    }
}

.herotxt {
    color: #fff;
    line-height: 1em;
    
    a {
        color: white;
        box-shadow: 0 -6px 0 white inset;
        transition: 0.2s box-shadow, 0.1s color;
        
        &:hover {
            color: $prime;
            box-shadow: 0 -1.15em 0 white inset;
            transition: 0.1s box-shadow, 0.1s color;
        }
        
        &:active {
            color: $prime2;
        }
    }
}

h1.herotxt {
//    font-weight: 700;
    font-size: 8em;
}

h2.herotxt {
    font-size: 4em;
}
    
#countdown{
//    display: inline-block;
}

.body {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-size: 2.4em;
    padding: 0;
    margin: 0;
    z-index: 9;
    background-color: white;
    position: absolute;
    
    .wrap {
        width: 90%;
        max-width: 28em;
//        text-align: left;
        display: inline-block;
//        padding-bottom: .5em;
    }
    
    h1 {
        padding: .4em 0 .1em 0;
        text-transform: uppercase;
        color: $prime;
    }
    
    p, li {
        padding-bottom: .1em;
        font-size: 0.8em;
    }
    
    strong {
        color: $prime;
    }
    
    .sec {
        color: $secondary;
        font-weight: bold;
    }
    
    .big {
//        font-size: 1.5em;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        
    }
    
    .fab, .fas, .far, .fal {
        color: black;
        
        &:hover {
            color: $prime2;
        }
    }
    
    &.page {
        height: 100%;
        margin-top: 0;
    }
}

.page {
    font-size: 2.2em;
    
    .wrap {
        text-align: left;
        margin-bottom: 2em;
    }
    
    h1 {
        color: #000;
//        text-shadow: 4px 4px 0px $prime;
        line-height: 1.1em;
        margin-top: .2em;
        margin-bottom: .2em;
        transform: scaleX(0.8);
        transform-origin: left;
        padding: 0;
    }
    
    h2, h3 {
        transform-origin: left;
        text-transform: uppercase;
        color: $prime;
    }
    
    p, li {
        margin-bottom: 0.2em;
        text-transform: none;
        text-align: justify;
        font-size: .62em;
        font-weight: 500;
        
        &::marker {
            font-weight: bold;
        }
        
        ol li {
            font-size: 1em;
        }
        
    }
    
    li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    
    ul, ol {
        margin-bottom: 0.2em;
    }
    
    a {
        color: #fff;
        background-color: $prime;
        padding: 0 .2em;
        font-weight: 500;
        box-shadow: 0px 0px 0px $prime;
        text-shadow: 1px 1px 0 black;
        transition: text-shadow .05s;
        
        &.link2 {
            background-color: $secondary;
            
            &:hover {
                color: $secondary;
            }
        }
        
        &:hover {
            background-color: #fff;
            color: $prime;
            text-shadow: 1px 1px 0 black;
        }
    }
}

@media only screen and (max-width: 768px) {
    
    .hero {
        font-size: .5em;
    }
    
    .body {
        font-size: 1.4em;
    }
    
    .page p, .page li , .page li p{
        font-size: .8em;
        line-height: 1.35em;
    }
    
    .titlebar a {
        font-size: 2em;
    }
 
}

.action {
    margin-top: .5em;
}

.amod {
    width: 9.5em;
    background-color: red;
    display: inline-block;
    margin: .6em .4em;
    text-transform: uppercase;
    
    &.crisis {
        font-size: 4em;
    }

    a {
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 2em;
        background-color: $prime;
        font-weight: 900;
//        box-shadow: 4px 4px 0px black;
        box-shadow: 0px 0px 0px black;
        transition: box-shadow .05s;
        
        p {
            padding: .45em 0;
            transform: scaleX(0.8) translate(-10%, -5%);
            width: 120%;
            margin: 0;
        }

        &:hover {
            background-color: #fff;
            color: $prime;
            box-shadow: 4px 4px 0px $prime;
            transition: box-shadow .1s;
        }

        &:active {
            color: $prime2;
        }
        
        &.crisis {
            color: $prime;
            background-color: white;
            font-size: 1.4em;
            padding: .2em 0;
            
            p {
                transform: scaleX(0.8) translate(-10%, -10%);
            }

            &:hover {
                background-color: $prime;
//                color: $prime;
                color: #fff;
                box-shadow: 10px 10px 0px black;
                transition: box-shadow .1s;
            }

            &:active {
                color: $prime2;
            }
        }
    }

    &.wide {
        max-width: 20.2em;
        width: 90%;
        font-size: 1.2em;
        
        &.letter {
            max-width: 30.2em;
        }
    }
}

.footer {
    margin-top: 1.5em;
    font-size: .6em;
    display: inline-block;
    line-height: 1.2em;
    color: #888;
    display: block;
    
    a {
        color: #888;
        text-decoration: underline;
        
        &:hover {
            color: #999;
        }
        
        &:active {
            color: #777;
        }
    }
}

.press {
    p {
        margin-bottom: 0.4em;
    }
    
    h3 {
        margin: 0.2em 0;
    }
    
    .wrap {
        margin-bottom: 2em;
    }
}

.lang {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    margin: .5em 1.4em 0 0;
    
    a {
        font-size: 1.5em;
        color: white;
        font-weight: 500;
        margin-left: .2em;
        opacity: .65;
        transition: opacity .05s;
        cursor: pointer;
        
        &.active {
//            font-weight: 600;
            opacity: 1;
        }
        
        &:hover {
            opacity: 1;
        }
    }
    
    &.black a {
        color: black;
    }
}


