---
---

//Variables
//$prime: #0f99d5;
$prime: #08a635; //primary color
//$prime: #13972b; //primary color
$prime2: #044926; //darker primary color, used for hover effect, click effects, etc
$prime3: #70ad78; //brighter primary color
//$prime2: #167928; //darker primary color, used for hover effect, click effects, etc
$secondary: #008ee6;
//$secondary: hsl(1, 75%, 50%);
$tertiary: #2c30c6;
$tertiary2: #3b8b32;

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
//    font-family: 'Passion One', sans-serif;
    font-family: Graphik, sans-serif;
    font-weight: 500;
    background-color: #fff;
//    color: #383838;
    color: #000;
    
    h1, h2, h3 {
        transform: scaleX(0.8);
        font-weight: 900;
    }
}

a {
    text-decoration: none;
}

.titlebar {
//    min-height: 3em;
    z-index: 2;
    width: 100%;
    text-align: center;
//    background-color: #191919;
//    background-color: #fff;
//    background-color: #000;
//    position: relative;
//    position: fixed;
    padding: .5em 0;
    text-transform: uppercase;
    
//    .titlewrap {
//        text-align: left;
////        background-color: red;
//        display:inline-block;
//        max-width: 61.6em;
//        width: 90%;
//        display: flex;
//        flex-wrap: nowrap;
//        overflow: hidden;
//        margin-left: auto;
//        margin-right: auto;
//        
//        .title-l {
////            background-color: blue;
//            padding: 0;
//            display: inline-block;
//            width: 40%;
//            transform: scaleX(0.8);
//            transform-origin: center left;
//            background-color: red;
//        }
//        
//        .title-r {
////            background-color: lightgreen;
//            padding: 0;
//            display: inline-block;
//            width: 70%;
//            background-color: red;
//            text-align: right;
//            transform: scaleX(0.8);
//            transform-origin: center right;
//            
//            a {
//                margin-left: 1em;
//            }
//            
//            .donate {
//                color: #1e93be;
//                
//                &:hover {
//                    color: #41b0d9;
//                }
//            }
//        }
//    }
    
    a {
//        color: #fff;
        color: $prime;
        font-weight: 900;
//        transition: color 0.05s;
        display: inline-block;
        font-size: 3.5em;
        transform: scaleX(0.8);
        
        &:hover {
            color: black;
        }
    }
}

.spacer {
    margin-bottom: 3em;
    display: inline-block;
}


.hero {
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #068029;
    background-image: url(hero_lq_nologo.jpg);
//    background-position: -50%;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 999;
    position: relative;
    line-height: 1em;
        
    .wrap {
        display: inline-block;
        width: 100%;
        //        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
//        padding-top: 4em;
    }
}

.herotxt {
    color: #fff;
    line-height: 1em;
    
//    text-shadow: 3px 3px 0px black;
}

h1.herotxt {
//    font-weight: 700;
    font-size: 8em;
}

h2.herotxt {
    font-size: 4em;
}

.body {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-size: 2.4em;
    padding: 0;
    margin: 0;
    
    .wrap {
        width: 90%;
        max-width: 28em;
//        text-align: left;
        display: inline-block;
//        padding-bottom: .5em;
    }
    
    h1 {
        padding: .4em 0 .1em 0;
        text-transform: uppercase;
//        color: $secondary;
        color: $prime;
//        text-decoration: underline;
//        text-decoration-color: $prime;
//        text-shadow: 3px 3px 0px black;
    }
    
    p, li {
        padding-bottom: .1em;
        font-size: 0.8em;
//        line-height: 1.5em;
    }
    
    strong {
        color: $prime;
    }
    
    .sec {
        color: $secondary;
        font-weight: bold;
    }
    
    .big {
//        font-size: 1.5em;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        
    }
    
    .fab {
        color: black;
//        color: #cccccc;
    }
    
    &.page {
        height: 100%;
        margin-top: 0;
    }
}

.page {
    font-size: 2.2em;
    
    .wrap {
        text-align: left;
    }
    
    h1 {
//        color: #cccccc;
//        text-decoration: underline;
//        text-decoration-color: $prime;
        color: #000;
//        text-shadow: 4px 4px 0px $prime;
//        transform: scaleX(0.8) translateX(-12.5%);
        transform: scaleX(0.8);
        transform-origin: left;
        padding: 0;
    }
    
    h2, h3 {
        transform-origin: left;
        text-transform: uppercase;
        color: $prime;
    }
    
    p, li {
//        line-height: 1.3em;
        margin-bottom: 0.2em;
//        font-family: Fira Sans;
        text-transform: none;
        text-align: justify;
        font-size: .62em;
        font-weight: 500;
    }
    
    li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    
    ul, ol {
        margin-bottom: 0.2em;
    }
    
    a {
        color: #fff;
        background-color: $prime;
//        text-transform: uppercase;
        padding: 0 .2em;
        font-weight: 500;
//        font-size: 1.2em;
//        transform: scaleX(0.8);
//        transform-origin: left;
//        display: inline-block;
//        font-weight: 900;
        box-shadow: 0px 0px 0px $prime;
        text-shadow: 1px 1px 0 black;
        transition: text-shadow .05s;
        
        &:hover {
//            color: #000;
            background-color: #fff;
            color: $prime;
//            box-shadow: 2px 2px 0px $prime;
            text-shadow: 1px 1px 0 black;
        }
    }
}

@media only screen and (max-width: 768px) {
 
//    h1.herotxt {
//        font-size: 4em;
//    }
//    
//    h2.herotxt {
//        font-size: 2em;
//    }
//    
//    .amod.crisis {
//        font-size: 2em;
//    }
    
    .hero {
        font-size: .5em;
    }
    
    .body {
        font-size: 1.4em;
    }
    
    .page p, .page li {
        font-size: .8em;
        line-height: 1.35em;
    }
    
    .titlebar a {
        font-size: 2em;
    }
    
    #gototop {
        display: none;
    }
 
}

.action {
    margin-top: .5em;
}

.amod {
    width: 9.5em;
    background-color: red;
    display: inline-block;
    margin: .6em .4em;
    text-transform: uppercase;
    
    &.crisis {
        font-size: 4em;
    }

    a {
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 2em;
        background-color: $prime;
        font-weight: 900;
//        box-shadow: 4px 4px 0px black;
        box-shadow: 0px 0px 0px black;
        transition: box-shadow .05s;
        
        p {
            padding: .45em 0;
            transform: scaleX(0.8) translate(-10%, -5%);
//            text-shadow: 4px 4px 0px black;
            width: 120%;
            margin: 0;
        }

        &:hover {
            background-color: #fff;
            color: $prime;
            box-shadow: 4px 4px 0px $prime;
            transition: box-shadow .1s;
        }

        &:active {
            color: $prime2;
        }
        
        &.crisis {
            color: $prime;
            background-color: white;
            font-size: 1.4em;
            padding: .2em 0;
            
            p {
                transform: scaleX(0.8) translate(-10%, -10%);
            }

            &:hover {
                background-color: $prime;
//                color: $prime;
                color: #fff;
                box-shadow: 10px 10px 0px black;
                transition: box-shadow .1s;
            }

            &:active {
                color: $prime;
            }
        }
    }

    &.wide {
        max-width: 20.2em;
        width: 90%;
        font-size: 1.2em;
    }

    &.small a {
//            position: absolute;
//            top: 50%;
//            left: 50%;

        span {
            display: inline-block;
            font-size: .8em;
//                line-height: 1em;
        }
    }
}

.footer {
    margin-top: 1.5em;
    font-size: .6em;
    display: inline-block;
    line-height: 1.2em;
    color: #888;
    display: block;
    
    a {
        color: #888;
        text-decoration: underline;
        
        &:hover {
            color: #999;
        }
        
        &:active {
            color: #777;
        }
    }
}

.press {
    p {
        margin-bottom: 0.4em;
    }
    
    h3 {
        margin: 0.2em 0;
    }
    
    .wrap {
        margin-bottom: 2em;
    }
}




