---
---

//Variables
//$prime: #0f99d5;
$prime: #387740; //primary color
//$prime: #13972b; //primary color
$prime2: #164e1d; //darker primary color, used for hover effect, click effects, etc
$prime3: #70ad78; //brighter primary color
//$prime2: #167928; //darker primary color, used for hover effect, click effects, etc
$secondary: #994c48;
//$secondary: hsl(1, 75%, 50%);
$tertiary: #4eb943;
$tertiary2: #3b8b32;

@mixin border-box() {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    margin: 0;
    padding: 0;
}

body {
//    display: flex;
    min-height: 100vh;
    font-family: 'Passion One', sans-serif;
    font-weight: 500;
//    text-transform: uppercase;
    background-color: #1a1a1a;
//    color: #383838;
    color: #cccccc;
}

a {
    text-decoration: none;
}

.titlebar {
//    min-height: 3em;
    z-index: 2;
    width: 100%;
    text-align: center;
//    background-color: #191919;
//    background-color: #fff;
    background-color: #000;
    position: relative;
    padding: 1em 0;
    text-transform: uppercase;
    
    .titlewrap {
        text-align: left;
//        background-color: red;
        display:inline-block;
        max-width: 61.6em;
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        
        .title-l {
//            background-color: blue;
            padding: 0;
            display: inline-block;
            width: 40%;
        }
        
        .title-r {
//            background-color: lightgreen;
            padding: 0;
            display: inline-block;
            width: 60%;
            text-align: right;
            
            a {
                margin-left: 1em;
            }
        }
    }
    
    a {
//        color: #fff;
        color: $prime;
        font-weight: 700;
        font-size: 2em;
//        margin-left: 0.7em;
        transition: color 0.05s;
        
        &:hover {
            color: $prime3;
        }
    }
}



.hero {
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #000;
    background-image: url(hero_lq.jpg);
//    background-position: -50%;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 999;
    position: relative;
    line-height: 1.5em;
        
    .wrap {
        display: inline-block;
        width: 100%;
        //        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
//        padding-top: 4em;
    }
}

.herotxt {
    color: #fff;
    line-height: 1em;
}

h1.herotxt {
    font-weight: 700;
    font-size: 8em;
}

h2.herotxt {
    font-size: 4em;
}

table.heroT {
    width: 100%;
    border-collapse: collapse;
    margin-left: 5%;
    
    td {
        text-align: center;
//        border: 1px solid red;
        width: 50%;
        padding: 1.5em 0;
        
        a {
            display: flex;
            flex-direction: column;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
            color: #fff;
            text-decoration: none;
            background-color: $tertiary;
            width: 90%;
            height: 9em;
            line-height: 2.25em;
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25), inset 0px 0em 0px #ae43b9;
            transition: box-shadow .1s;
            
            p {
                font-size: 2.5em;
                font-weight: 700;
            }
            
            p.Tttl {
                font-size: 2em;
                font-weight: 100;
            }
            
            &:hover {
                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25), inset 0px 9em 0px #ae43b9;
            }
        }
    }
    
    .reddit a, .ticket a{
        background-color: #ae43b9;
            
        &:hover {
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25), inset 0px -9em 0px $tertiary;
        }
    }
}

.menu {
    background-color: $secondary;
    height: 4em;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    
    a {
        color: white;
        font-size: 3.1em;
        padding: 0 .5em;
        @include border-box();
        height: 100%;
        cursor: pointer;
        
        &.donate {
            background-color: $prime;
            
            &:hover {
                background-color: $prime2;
            }
        }
        
        &.blog {
            background-color: $tertiary;
            
            &:hover {
                background-color: $tertiary2;
            }
        }
        
        &:hover {
            background-color: #bf682e;
        }
    }
}

.body {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-size: 2.2em;
    padding: 0;
    margin: 0;
    
    .wrap {
        width: 90%;
        max-width: 28em;
//        text-align: left;
        display: inline-block;
//        padding-bottom: .5em;
    }
    
    h1 {
        padding: .6em 0 .1em 0;
        text-transform: uppercase;
//        color: $secondary;
        color: $prime;
//        text-decoration: underline;
//        text-decoration-color: $prime;
    }
    
    p, li {
        padding-bottom: .1em;
//        line-height: 1.5em;
    }
    
    strong {
        color: $prime;
    }
    
    .sec {
        color: $secondary;
    }
    
    .big {
//        font-size: 1.5em;
        text-transform: uppercase;
        font-style: normal;
        
    }
    
    .fab {
//        color: black;
        color: #cccccc;
    }
    
    &.page {
        height: 100%;
        margin-top: 0;
    }
}

.page {
    .wrap {
        text-align: left;
    }
    
    h1 {
//        color: black;
        color: #cccccc;
        text-decoration: underline;
        text-decoration-color: $prime;
    }
    
    h1, h2, h3 {
        font-weight: 500;
    }
    
    p, li {
//        line-height: 1.3em;
        margin-bottom: 0.2em;
        font-family: Fira Sans;
        text-transform: none;
        text-align: justify;
        font-size: .62em;
        font-weight: 500;
    }
    
    li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    
    ul, ol {
        margin-bottom: 0.2em;
    }
    
    a {
        color: #fff;
        background-color: $prime;
        font-family: Passion One;
        text-transform: uppercase;
        padding: 0 .2em;
        font-weight: 500;
        font-size: 1.2em;
        
        &:hover {
//            color: #000;
            background-color: #fff;
            color: $prime;
        }
    }
}

@media only screen and (max-width: 768px) {
 
    h1.herotxt {
        font-size: 4em;
    }
    
    h2.herotxt {
        font-size: 2em;
    }
    
    .body {
        font-size: 1.4em;
    }
    
    .page p, .page li {
        font-size: .8em;
        line-height: 1.35em;
    }
    
    .titlebar a {
        font-size: 1.25em;
    }
    
    #gototop {
        display: none;
    }
 
}

.action {
//    background-color: green;
    
    .amod {
        width: 9.5em;
        background-color: red;
        display: inline-block;
        margin: .6em .4em;
        text-transform: uppercase;
        
        a {
            padding: .45em 0;
            display: inline-block;
            width: 100%;
            background-color: $prime;
            color: #fff;
            font-size: 2.0em;
            
            &:hover {
                background-color: #fff;
                color: $prime;
            }
            
            &:active {
                color: $prime2;
            }
        }
        
        &.wide {
            max-width: 20.2em;
            width: 90%;
        }
        
        &.small a {
//            position: absolute;
//            top: 50%;
//            left: 50%;
            
            span {
                display: inline-block;
                font-size: .8em;
//                line-height: 1em;
            }
        }
    }
}

.footer {
    margin-top: 1.5em;
    font-size: .6em;
    display: inline-block;
    line-height: 1.2em;
    color: #888;
}

.press {
    p {
        margin-bottom: 0.4em;
    }
    
    h3 {
        margin: 0.2em 0;
    }
    
    .wrap {
        margin-bottom: 2em;
    }
}




