<!doctype html>
<html lang="en">
<head>
    {% include headinfo.html %}
    {% include fa.html %}
    {% seo %}
</head>
<body>
    <div class="hero">
        <div class="wrap">
            <h1 class="herotxt">YOUTH FOR CLIMATE</h1>
            <h2 class="herotxt">20-27 SEPTEMBER</h2>
            <div class="amod crisis">
                <a href="thecrisis" class="crisis"><p>THE CRISIS</p></a>
            </div>
        </div>
    </div>
<!--    <div id="gototop"><a href="#">Back to top &#8593;</a></div>-->
    <div class="body">
        <div class="wrap">
            {% include home.html %}
        </div>
    </div>
</body>
</html>