<!doctype html>
<html lang="en">
<head>
    {% include headinfo.html %}
    {% include fa.html %}
    {% seo %}
</head>
<body>
    <div class="hero">
        <div class="wrap">
            <h1 class="herotxt">YOUTH FOR CLIMATE</h1>
<!--            <h2 class="herotxt">TIME UNTIL <a href="action">THE NEXT ACTION:</a></h2>-->
<!--            <h2 class="herotxt" id="countdown">01:23:45:60</h2>-->
            <div class="amod crisis">
<!--                <a href="action" class="crisis"><p id="countdown">COUNTDOWN</p></a>-->
                <a href="thecrisis" class="crisis"><p>THE CRISIS</p></a>
            </div>
        </div>
    </div>
<!--    <div id="gototop"><a href="#">Back to top &#8593;</a></div>-->
    <div class="body">
        <div class="wrap">
            {% include home.html %}
        </div>
    </div>
</body>
<script src="{{ site.baseurl }}/assets/countdown.js"></script>
</html>