<!doctype html>
<html lang="en">
<head>
    <title>Youth for Climate Luxembourg</title>
    {% include headinfo.html %}
    {% include fa.html %}
    {% seo %}
</head>
<body>
    <div class="hero">
        <div class="wrap">
            <h1 class="herotxt" id="home">YOUTH FOR CLIMATE</h1>
<!--            COUNTDOWN:  -->
<!--        <h2 class="herotxt">TIME UNTIL OUR NEXT ACTION:</h2> -->
<!--        <h2 class="herotxt">TIME UNTIL <a href="https://www.facebook.com/youthforclimateluxembourg">OUR NEXT ACTION:</a></h2>
            <div class="amod crisis">
                <a href="thecrisis" class="crisis"><p id="countdown">COUNTDOWN</p></a>
<!--	        <a href="#current-action" class="crisis"><p id="countdown">COUNTDOWN</p></a> -->
            </div> -->
            
<!--        NORMAL BUTTON:  -->


            <div class="amod crisis">
                <a href="thecrisis" class="crisis"><p>LA CRISE</p></a>
            </div>


            
        </div>
    </div>

    <!-- {% include current-action.html %} -->

    {% include lang.html %}
    <div class="body">
        <div class="wrap">
            {% include home.html %}
        </div>
    </div>
</body>
<script src="{{ site.baseurl }}/assets/countdown.js"></script>
<script src="{{ site.baseurl }}/assets/lang.js"></script>
</html>
