<!doctype html>
<html lang="en">
<head>
    {% include headinfo.html %}
</head>
<body>
    <div class="hero">
        <div class="wrap">
            <h1 class="herotxt">Occupy for Climate.</h1>
            <h2 class="herotxt">24 May. 15:00.</h2>
            <!--<table class="heroT">
                <tr>
                    <td class="ts"><a href="ts3server://ts.vanillacraft.net/?nickname=Anonymous" target="_blank"><p class="Tttl">teamspeak</p><p>ts.vanillacraft.net</p></a></td>
                    <td class="reddit"><a href="https://civex.reddit.com" target="_blank"><p class="Tttl">subreddit</p><p>civex.reddit.com</p></a></td>
                </tr>
                <tr>
                <tr>
                    <td class="ticket"><a href="https://vanillacraft.net/ticket/" target="_blank"><p class="Tttl">banned? bug report?</p><p>send a ticket!</p></a></td>
                    <td class="mail"><a href="https://www.reddit.com/message/compose?to=%2Fr%2FCivEx" target="_blank"><p class="Tttl">got a question? want a flair?</p><p>send us a modmail!</p></a></td>
                </tr>
            </table>-->
        </div>
    </div>
<!--    {% include menubar.html %}-->
    <div id="gototop"><a href="#">Back to top &#8593;</a></div>
    <div class="body">
        <div class="wrap">
            {% include home.html %}
        </div>
    </div>
</body>
</html>